<app-header></app-header>
<div class="container">
  <hr>
  <div class="row">
    <div class="col md-12 text-center">
      <h3>Personas</h3>
      <hr>
      <div cdkDropList class="example-list text-center" (cdkDropListDropped)="drop($event)" >
        <div class="example-box text-center" *ngFor="let person of listPerson" cdkDrag>{{person.name + ' ' + person.surname}}</div>
      </div>
    </div>
    <div class="col md-12 text-center">
      <h3>Invitados</h3>
      <hr>
      <div cdkDropList class="example-list text-center" (cdkDropListDropped)="drop($event)" >
        <div class="example-box text-center" *ngFor="let guest of guests" cdkDrag>{{guest}}</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
